{% set active_page = "home" %} {% extends "layout.html" %} {% block title
%}Home{% endblock title %} {% block content %}
<section>
  <div class="container">
    <h1>HOME</h1>
    <h3>Welcome user <span class="fw-bold">{{ username }}</span>.</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio
      placeat hic sint nobis, molestias autem iste a optio corrupti distinctio
      similique esse possimus ea voluptatum maxime reprehenderit officiis quos?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vitae ad
      voluptatem placeat, reprehenderit eum tempore? Saepe quis tempora
      corporis. Amet sed a obcaecati eligendi! Enim itaque quas esse alias
      explicabo, repudiandae eos sapiente magnam atque asperiores tenetur sit
      aliquam ipsam odit dolorem quasi? Deserunt?
    </p>
  </div>
</section>
{% endblock %}
