{% set active_page = "home" %} {% extends "layout.html" %} {% block title
%}Home{% endblock title %} {% block content %}
<section>
  <div class="container">
    <h1>HOME</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio
      placeat hic sint nobis, molestias autem iste a optio corrupti distinctio
      similique esse possimus ea voluptatum maxime reprehenderit officiis quos?
    </p>
    <h1>HOME</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio
      placeat hic sint nobis, molestias autem iste a optio corrupti distinctio
      similique esse possimus ea voluptatum maxime reprehenderit officiis quos?
    </p>
    <h1>HOME</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio
      placeat hic sint nobis, molestias autem iste a optio corrupti distinctio
      similique esse possimus ea voluptatum maxime reprehenderit officiis quos?
    </p>
  </div>
</section>
{% endblock %}
