{% set active_page = "login" %} {% extends "layout.html" %} {% block title
%}Login{% endblock title %} {% block content %}
<section class="container my-5">
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.username(class="form-control mx-auto w-auto",
      placeholder=form.username.label.text) }}
      {% for error in form.username.errors %}
      <div class="text-danger text-center">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    <div class="mb-3">
      {{ form.password(class="form-control mx-auto w-auto",
      placeholder=form.password.label.text) }}
      {% for error in form.password.errors %}
      <div class="text-danger text-center">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    <div class="mb-3 d-flex justify-content-center">
      {{ form.remember_me(class="me-2") }} {{ form.remember_me.label }}
    </div>
    <div class="d-flex justify-content-center">
      {{ form.submit(class="btn btn-primary px-5") }}
    </div>
  </form>
</form>
<div class="d-flex justify-content-center my-5">
  Don't have an account yet? Continue to the&nbsp;
  <a href="{{ url_for('register') }}"> registration page</a>.      
</div>
</section>
{% endblock %}
